.bouton {
    border-radius: 48px;
    height: 48px;
    width: 190px;
}

.bouton1 {
    @extend .bouton;
    background-color: salmon;
    animation-name: animation-bouton;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes animation-bouton{
    0% {background-color: salmon;}
    25% {background-color: yellow;}
    50% {background-color: green;}
    100% {background-color: red;}

}
.bouton2 {
    @extend .bouton;
    background-color: sienna;
}