.bouton {
    border-radius: 10px;
    width: 24px;
    box-shadow: 30px 30px rgba($color: #fafafa, $alpha: 0.5);
    &:hover {
        box-shadow: 25px 25px;
    }
}

.bouton1 {
    @extend .bouton;
    background-color: salmon;
}

.bouton2 {
    @extend .bouton;
    background-color: sienna;
}