.navigation {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: rgb(234, 234, 234);
}

    .navigation_input {
    border : none;
    background-color: rgb(234, 234, 234);
    font-weight: bolder ;
}